<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>/bin/hacken</title>
<meta name="description" content="Hacker- &amp; Makerspace Bingen am Rhein">

<link rel="stylesheet" href="css/style.css">
<link rel="icon" type="image/png" href="images/favicon.png">
