<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section>
      <h2>127.0.0.1</h2>
    </section>

    <section>
      <ul>
        <li>Externe Links</li>
        <li>
          <% links.forEach(function(link){ %>
          <a class="button primary" href="<%= link.url %>" target="_blank"><%= link.name %></a>
          <% }); %>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>