<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section>
      <img src="https://img01.lachschon.de/images/108082_axtmann-medium.jpg">
    </section>
  </div>
</body>

</html>