<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section>
      <h2>Welcome to <img height="1rem" src="images/logo.png"></h2>
    </section>
  </div>
</body>

</html>