<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section id="login">
      <form action="auth" method="post">
        <input type="text" placeholder="Benutzernamen" name="username" required>
        <input type="password" placeholder="Passwort" name="password" required>
        <button type="submit" class="primary">Login</button>
      </form>
      <p>
        <% if (nope) { %>
        <%= nope %>
        <% } %>
      </p>
    </section>
  </div>
</body>

</html>