<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section id="login">
      <form action="register" method="post">
        <input type="text" placeholder="Benutzername" name="username" maxlength="32" required>
        <input type="password" placeholder="Passwort" name="password" required>
        <% if (tan) { %>
        <input type="text" value="<%= tan %>" name="tan" required>
        <% } else { %>
        <input type="text" placeholder="TAN" name="tan" required>
        <% } %>
        <button type="submit" class="primary">Register</button>
      </form>
      <p>
        <% if (nope) { %>
        <%= nope %>
        <% } %>
      </p>
    </section>
  </div>
</body>

</html>