<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section id="login">
      <form action="register" method="post">
        <input type="text" placeholder="Benutzernamen" name="username" required>
        <input type="password" placeholder="Passwort" name="password" required>
        <button type="submit" class="primary">Register</button>
      </form>
      <p>
        Benutze ein gutes, einzigartiges Passwort und merke es dir.<br>
        Wir garantieren für keinerlei Sicherheit.<br>
        Wenn Du deine Logindaten vergisst, hast du Pech gehabt!<br>
        <br>
        Empfehlung: Benutze einen Passwortmanager.<br>
        <br>
        Mit der registrierung stimmst Du zu,
        dass wir deinen Benutzernamen und Passwort speichern.
      </p>
      <p>
        <% if (nope) { %>
        <%= nope %>
        <% } %>
      </p>
    </section>
  </div>
</body>

</html>