<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <ul>
    <li>Registrierte Mitglieder</li>
    <% users.forEach(function(user){ %>
    <li>
      <span class="title">
        <%= user.name %>
      </span>
      <span class="userdata">
        <%- user.html %>
      </span>
    </li>
    <% }); %>
  </ul>

  <div class="container">
  </div>
</body>

</html>