<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <ul>
      <% users.forEach(function(user){ %>
      <li>
        <span class="username">
          <%= user.dataValues.name %>
        </span>
        <span class="userdata">
          <%= user.dataValues.data %>
        </span>
      </li>
      <% }); %>
    </ul>
  </div>
</body>

</html>